/bootstrap/tests export-ignore
/bootstrap/phpunit.xml export-ignore
/config/travis export-ignore
/config/local export-ignore
/README.md export-ignore
/LICENSE export-ignore
/.travis.yml export-ignore
* text=auto
*.css linguist-vendored
*.less linguist-vendored